.quo-card {
    width: 250px;
    height: 300px;
    font-family: inherit;
    position: relative;
    border-radius: 8px;
  }
  
  .quo-quote {
    color: black;
    padding-left: 30px;
    position: relative;
  }
  
  .quo-card-name {
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    padding: 35px;
    line-height: 23px;
  }
  
  .quo-body-text {
    font-size: 20px;
    font-weight: 900;
    padding: 60px 40px 0;
    color: black;
    position: absolute;
    top: 40px;
    left: 1px;
    line-height: 23px;
  }
  
  .quo-author {
    margin-top: 5px;
    opacity: 0;
    transition: 0.5s;
  }
  
  .quo-card:hover .quo-author {
    opacity: 1;
  }
  
  .quo-pic {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
  }
  
  .quo-author-container {
    display: flex;
    align-items: center;
  }
  
  .quo-author {
    font-weight: 700;
    color: black;
    padding-left: 30px;
  }
  
  .quo-card .quo-author svg {
    display: inline;
    font-size: 12px;
    color: black;
  }
  